@using MoviesProject.Database
@using MoviesProject.Resources
@model Movies


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@lang.edituser</title>



    <!-- Animate -->
    <link href="~/Content/animate.css" rel="stylesheet" />

    <!-- Icomoon -->
    <link href="~/Content/icomoon.css" rel="stylesheet" />

    <!-- Bootstrap  -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/style.css">

    <!-- Modernizr JS -->
    <link href="~/Content/style.css" rel="stylesheet" />

</head>
<body>

    @Html.Partial("_PartialCategories")
    <!-- END #fh5co-offcanvas -->
    <header id="fh5co-header">

        <div class="container-fluid">
            <div class="row">
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>

                <div class="col-lg-12 col-md-12 text-center">
                    <h1 id="fh5co-logo"><a href="/Home/Index">Movies</a></h1>
                </div>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            
            <h3>@lang.sure</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IMDB)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IMDB)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ReleaseDate)
                </dd>
               


            </dl>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <button type="submit" class="btn btn-danger ">
                        <span class="glyphicon glyphicon-remove"></span> @lang.delete
                    </button>
                    <a href="/Home/MoviePanel" class="btn btn-default "><span class="glyphicon glyphicon-arrow-left"> @lang.back</span></a>

                </div>
            }
        </div>
    </div>
    </body>