@using MoviesProject.Database
@using MoviesProject.Resources
@model List<User>


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@lang.userpanel</title>



    <!-- Animate -->
    <link href="~/Content/animate.css" rel="stylesheet" />

    <!-- Icomoon -->
    <link href="~/Content/icomoon.css" rel="stylesheet" />

    <!-- Bootstrap  -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/style.css">

    <!-- Modernizr JS -->
    <link href="~/Content/style.css" rel="stylesheet" />

</head>
<body>

    @Html.Partial("_PartialCategories")
    <!-- END #fh5co-offcanvas -->
    <header id="fh5co-header">

        <div class="container-fluid">
            <div class="row">
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>

                <div class="col-lg-12 col-md-12 text-center">
                    <h1 id="fh5co-logo"><a href="/Home/Index">Movies</a></h1>
                </div>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>@lang.managementpanel - @lang.users</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>
                <a href="/Home/CreateUser" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>@lang.createuser</a>
            </p>
            <table class="table">
                <tr>
                    <th>
                        İsim
                    </th>
                    <th>
                        Soyad
                    </th>
                    <th>
                        Kullanıcı Adı
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Şifre
                    </th>
                    <th>
                        Admin mi?
                    </th>



                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.IsAdmin)
                        </td>

                        <td>
                            <a href="EditUser/@item.Id" class="btn btn-warning btn-xs "> <span class="glyphicon glyphicon-edit"></span>@lang.edit</a>
                            <a href="DeleteUser/@item.Id" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash">@lang.delete</span></a>

                        </td>

                    </tr>
                }
            </table>
        </div>
    </div>
</body>
<script src="~/Scripts/jquery.min.js"></script>

<!-- jQuery Easing -->
<script src="~/Scripts/jquery.easing.1.3.js"></script>

<!-- Bootstrap -->
<script src="~/Scripts/bootstrap.min.js"></script>

<!-- Waypoints -->
<script src="~/Scripts/jquery.waypoints.min.js"></script>

<!-- Main JS -->
<script src="~/Scripts/main.js"></script>